{% extends 'base.html.twig' %}

{% block title %}Categorie Recette!{% endblock %}

{% block body %}
    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->

        <div class="breadcrumbs-area">
            <h3>Recette</h3>
            <ul>
                <li>
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li>Ajouter une recette</li>
            </ul>
        </div>

        <!-- the formStart Here -->
        <div class="card height-auto">
            <div class="card-body">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} mt-10">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="heading-layout1">
                    <div class="item-title">
                        <h4>Ajouter une recette</h4>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle float-right" href="#" role="button" data-toggle="dropdown"
                           aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path('home') }}"><i
                                        class="fas fa-times text-orange-red"></i>Quitter</a>
                            <a class="dropdown-item" href="{{ path('recette') }}"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Actualiser</a>
                        </div>
                    </div>
                </div>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            <div class="container-fluid">
                <h4><span class="glyphicon glyphicon-th-list"> </span> Listes des recettes</h4>
                <div class="table-responsive">
                    <table class="table table-hover">

                        <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Spécialité</th>
                            <th scope="col">Catégorie</th>
                            <th scope="col">Ajouté par</th>
                            <th scope="col"><span class="glyphicon glyphicon-calendar"> </span> Dates d'ajout</th>
                            <th scope="col"><span class="glyphicon glyphicon-cog"></span> Actions </th>
                        </tr>
                        </thead>

                        {% for recette in recettes %}
                            <tbody>
                            <tr>
                                <td>{{ recette.name }}</td>
                                <td>{{ recette.speciality }}</td>
                                <td>{{ recette.Rcategorie.name }}</td>
                                <td>{{ recette.createdBy.firstName  }}</td>
                                <td>{{ recette.createdAt| date('d/m/Y ' ) }}</td>
                                <td>
                                    <a href="{{ path('view_recette', {'id': recette.id}) }}" class="btn btn-primary text-white"> <strong class="fas fa-eye "> Voir</strong></a>

                                    <a href="{{ path('edit_recette', {'id': recette.id}) }}" class="btn btn-warning text-white"><strong class="glyphicon glyphicon-pencil"> Modifier</strong></a>
                                    <a href="{{ path('delete_recette', {'id': recette.id}) }}" class="btn btn-danger text-white"> <strong class="glyphicon glyphicon-remove"> Supprimer</strong></a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>

                </div>

            </div>
        </div>
        <!-- and the form-->


    </div>


{% endblock %}
