{% extends 'base.html.twig' %}

{% block title %}contacts!{% endblock %}

{% block body %}
    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->

        <div class="breadcrumbs-area">
            <h3>Messages</h3>
            <ul>
                <li>
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li>Voir les messages</li>
            </ul>
        </div>

        <!-- the formStart Here -->
        <div class="card height-auto">
            <div class="card-body">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} mt-10">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="heading-layout1">
                    <div class="item-title">
                        <h4>Tous les messages</h4>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle float-right" href="#" role="button" data-toggle="dropdown"
                           aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path('home') }}"><i
                                        class="fas fa-times text-orange-red"></i>Quitter</a>
                            <a class="dropdown-item" href="{{ path('all_messages') }}"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Actualiser</a>

                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">

                        <thead>
                        <tr>
                            <th scope="col">Motif</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col"><span class="glyphicon glyphicon-calendar"> </span> Dates d'ajout</th>
                            <th scope="col"><span class="glyphicon glyphicon-cog"></span> Actions </th>
                        </tr>
                        </thead>

                        {% for contact in contacts %}
                            <tbody>
                            <tr>
                                <td>{{ contact.title }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.phone  }}</td>
                                <td>{{ contact.createdAt| date('d/m/Y ' ) }}</td>
                                <td>
                                    <a href="{{ path('view_contact', {'id': contact.id}) }}" target="_blank" class="btn btn-primary">
                                        <span class="fas fa-eye"></span> Voir
                                    </a>
                                    <a href="{{ path('delete_contact', {'id': contact.id}) }}" class="btn btn-danger"> <strong class="glyphicon glyphicon-remove"> Supprimer</strong></a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>

                </div>
            </div>


        </div>
        <!-- and the form-->


    </div>


{% endblock %}
