{% extends 'base.html.twig' %}

{% block title %}Contact!{% endblock %}

{% block body %}
    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->

        <div class="breadcrumbs-area">
            <h3>Contact</h3>
            <ul>
                <li>
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li>Formulaire de contact</li>
            </ul>
        </div>

        <!-- the formStart Here -->
        <div class="card height-auto">
            <div class="card-body">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} mt-10">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="heading-layout1">
                    <div class="item-title">
                        <h4>Contactez - nous</h4>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle float-right" href="#" role="button" data-toggle="dropdown"
                           aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path('home') }}"><i
                                        class="fas fa-times text-orange-red"></i>Quitter</a>
                            <a class="dropdown-item" href="{{ path('contact') }}"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Actualiser</a>
                        </div>
                    </div>
                </div>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        <!-- and the form-->


    </div>


{% endblock %}
