<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Saveur & regale | Login</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon.png')}}">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="{{ asset('login/css/normalize.css ')}}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ asset('login/css/main.css ')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{ asset('login/css/bootstrap.min.css')}}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href=" {{ asset('login/css/all.min.css')}}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{{ asset('login/fonts/flaticon.css ')}}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href=" {{ asset('login/css/animate.min.css')}}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href=" {{ asset('login/css/style.css')}}">
    <!-- Modernize js -->
    <script src=" {{ asset('login/js/modernizr-3.6.0.min.js')}}"></script>
</head>

<body>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<!-- Login Page Start Here -->
<div class="login-page-wrap">
    <div class="login-page-content">
        <div class="login-box">
            <div class="item-logo">
                <img src="{{ asset('login/img/logoLogin.png')}} " alt="logo">
            </div>
            <div class="">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        </br>
                        <div class="alert alert-{{ label }} mt-10">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <form action="{{ path('login') }}" method = "POST" class="login-form">
                <div class="form-group">
                    <label>Nom Utilisateur</label>
                    <input type="text" placeholder="Enter Votre nom utilisateur" name="login" class="form-control">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password" placeholder="Enter votre mot de passe" class="form-control" name="pwd">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between">
                    <a href="#">Aichatou Diana Toure</a>

                    <a href="#" class="forgot-btn">Mot de passe oublié ?</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="login-btn">Se connecter</button>
                </div>
            </form>
            <div class="login-social">
                <p>Je suis - sur </p>
                <ul>
                    <li><a href="#" class="bg-fb"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="bg-twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="bg-gplus"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#" class="bg-git"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Login Page End Here -->
<!-- jquery-->
<script src=" {{ asset('login/js/jquery-3.3.1.min.js')}}"></script>
<!-- Plugins js -->
<script src="{{ asset('login/js/plugins.js ')}}"></script>
<!-- Popper js -->
<script src=" {{ asset('login/js/popper.min.js')}}"></script>
<!-- Bootstrap js -->
<script src="{{ asset('login/js/bootstrap.min.js ')}}"></script>
<!-- Scroll Up Js -->
<script src=" {{ asset('login/js/jquery.scrollUp.min.js')}}"></script>
<!-- Custom Js -->
<script src="{{ asset('login/js/main.js ')}}"></script>

</body>

</html>